*{
    margin: 0px;
    font-family: 'Inter';
}
#logo{ 
    margin-left: 75px ;
    margin-top: 50px;
}

#titulo-menu-superior {
    margin-left: 200px;
    margin-top: 50px;
}

#texto-menu-superior{
    margin-left: 200px;
    margin-top: 35px;
    padding-bottom: 100px;
}

#menuSuperior{
  background-image: url(/Imagens/Fundo-MenuSuperior.svg);
  color: white;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#menuInformacional{
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.icone{
    margin: 50px 0px 50px 100px;
    padding: 25px;
}

.textoinformativo{
    display: flex;
    align-items: center;
}
#secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
#titulovideo{
    color: #247ba0;
    font-size: 45px;
    margin-top: 50px;
    
}

#textovideo{
    color: #383838;
    margin-top: 10px;
    font-size: 20px;
}

#video{
    margin: 50px 25px 50px 150px ;
}

#carrosel{
    background-color: #247BA0;
    padding: 50px;
    align-items: center;
}

#titulo-carrosel{
    color: white;
    text-align: center;
    font-size: 25px;
}

#div-cards{
    margin-top: 25px;
    display: grid;
    grid-auto-flow: column;

}

.cards{
    margin-left: 25px;
}

#seta-esquerda{
    display: none;
}

#Bruna{
    display: none;
}

.seta{
    margin-top: 55px;
    cursor: pointer;
}

.seta:hover{
    transform: translateY(-7px);
    transition-duration: 0,5ms;
}

#formulario{
    text-align: center;
    
}

#titulo-formulario{
    font-size: 25px;
    margin: 25px;
    color: #383838;
}

input{
width: 400px;
height: 58px;
background-color: #EAECE5;
margin: 15px;
border: 0px;
border-radius: 5px;
padding: 10px;
}

button{
    background-color: #247BA0;
    height: 58px;
    width: 250px;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-bottom: 75px;
    font-weight: bolder;
    cursor: pointer;
}

button:hover{
    background-color: #4b97b8;
    color: white;
    transform: translateY(-7px);
    transition-duration: 0,1ms;
    box-shadow: 0px 15px 20px #1f2c317c;
}
